---
import Layout from '@/layouts/Layout.astro'
import IconCheckmark from '@/components/IconCheckmark.astro'
import Link from '@/components/Link.astro'
import { Image } from 'astro:assets'
import developerImage from '@/images/developer.svg'
import mindMapImage from '@/images/mind-map.svg'
import codeReviewImage from '@/images/code-review.svg'
import dotsTriangle from '@/images/dots-triangle.svg'
import avatarImage from '@/images/avatar.png'
---

<Layout title="Home">
  <main>
    <section
      class="hero mx-auto max-w-3xl flex flex-col sm:flex-row justify-between py-16 mt-24 px-4 xl:px-0"
    >
      <div class="text-4xl font-bold text-center sm:text-left">
        <div class="leading-tight dark:text-gray-100">
          Astro Portfolio Starter
        </div>
        <div
          class="text-indigo-700 dark:text-indigo-500 leading-tight sm:mr-16"
        >
          Powered by Astro and Tailwind CSS
        </div>
      </div>
      <div class="mt-8 sm:mt-0">
        <Image src={developerImage} alt="developer" class="mx-auto sm:mx-0" />
      </div>
    </section>
    <!-- end hero -->

    <section class="max-w-3xl mx-auto px-4 xl:px-0">
      <p class="dark:text-gray-100">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore non
        ipsa sed hic illum ex corrupti quasi, corporis consequatur praesentium
        fugiat perferendis sunt molestias temporibus placeat magnam aspernatur
        sequi iure pariatur reprehenderit maxime doloremque ut facilis illo.
        Corrupti, vel et?
      </p>

      <div class="flex justify-between items-center my-14">
        <div class="w-full sm:w-1/2 px-8 py-8 sm:py-0">
          <Image src={mindMapImage} alt="mind map" />
        </div>
        <div class="w-1/2 px-8 hidden sm:flex justify-end">
          <Image src={codeReviewImage} alt="code review" />
        </div>
      </div>
    </section>

    <section
      id="projects"
      class="scroll-mt-16 max-w-3xl mx-auto border-t border-b border-gray-300 dark:border-gray-700 py-16 mb-16 relative px-4 xl:px-0"
    >
      <h3 class="dark:text-gray-100 font-bold">
        Here are some projects I've worked on:
      </h3>

      <div class="absolute right-0 transform rotate-180 translate-x-[120%]">
        <Image src={dotsTriangle} alt="dots" class="hidden xl:block" />
      </div>

      <ul class="text-indigo-600 dark:text-indigo-500 mt-10 space-y-6">
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              Project Name 1
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              Project Name 2
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              Project Name 3
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <h4 class="text-gray-800 dark:text-gray-100 font-semibold">
              Project Name 4
            </h4>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
      </ul>
    </section>

    <section
      id="about"
      class="scroll-mt-32 max-w-3xl mx-auto relative px-4 xl:px-0"
    >
      <h3 class="dark:text-gray-100 font-bold">Get to know me</h3>

      <div class="flex items-center flex-col sm:flex-row mt-6">
        <Image src={avatarImage} alt="avatar" class="rounded-full w-32 h-32" />
        <div>
          <p class="dark:text-gray-100 sm:ml-6 mt-6 sm:mt-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
            quam praesentium eligendi autem voluptate vero quo voluptatem, qui
            possimus debitis iste amet ea voluptatum aut consectetur. Velit quos
            at explicabo?
          </p>
        </div>
      </div>

      <div class="my-16">
        <iframe
          class="w-full aspect-video"
          src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=1BVDnJeZozmDWGGk"
          allowfullscreen></iframe>
      </div>
    </section>

    <section
      id="contact"
      class="scroll-mt-28 bg-gray-100 dark:bg-slate-800 mt-10 py-12 px-4 xl:px-0"
    >
      <div class="max-w-3xl mx-auto relative">
        <h3 class="font-bold dark:text-gray-100">Contact me</h3>

        <div class="absolute left-0 transform -translate-x-[120%] rotate-180">
          <Image src={dotsTriangle} alt="dots" />
        </div>

        <p class="dark:text-gray-100 mt-6">
          Static sites cannot submit forms on their own. However, services like
          <Link href="https://www.netlify.com/docs/form-handling" newTab>
            Netlify Forms
          </Link>
           or
          <Link href="https://formspree.io" newTab>FormSpree</Link>
           can help you do this without a backend.
        </p>

        <div class="mt-12">
          <form action="#" class="grid grid-cols-2 gap-6">
            <div class="col-span-2 sm:col-span-1">
              <label for="name" class="block dark:text-gray-100">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your name"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 p-4 mt-2"
              />
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label for="email" class="block dark:text-gray-100">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your email"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 p-4 mt-2"
              />
            </div>

            <div class="col-span-2">
              <label for="message" class="block dark:text-gray-100"
                >Message</label
              >
              <textarea
                rows="8"
                name="message"
                id="message"
                class="block dark:bg-slate-700 dark:text-gray-100 w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-slate-700 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-600 p-4 mt-2"
                placeholder="Enter your message here"></textarea>
            </div>

            <div class="col-span-2">
              <div class="flex justify-end w-full">
                <input
                  type="submit"
                  value="Submit"
                  class="block bg-indigo-700 hover:bg-indigo-900 focus:bg-indigo-900 text-white text-sm font-semibold tracking-wide uppercase shadow rounded cursor-pointer px-6 py-3"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</Layout>
