---
import DatePresenter from '@/components/DatePresenter.astro'
import TagsPresenter from '@/components/TagsPresenter.astro'
import { type CollectionEntry } from 'astro:content'
import type { Page } from 'astro'

const {
  page,
  posts,
  tag = null,
  total = null,
} = Astro.props as {
  page: Page<CollectionEntry<'posts'>>
  posts: Array<CollectionEntry<'posts'>>
  tag: string | null
  total: number | null
}
---

<section
  class="mx-auto max-w-3xl w-full dark:text-gray-100 mt-40 px-4 xl:px-0 mb-20"
>
  {
    tag && (
      <h2 class="text-4xl font-bold mb-6">
        Tag: {tag} ({total})
      </h2>
    )
  }
  <div class="posts divide-y divide:gray-400 dark:divide-gray-700">
    {
      posts.map(post => (
        <div class="post py-8">
          <div class="text-base flex gap-2">
            <DatePresenter
              date={post.data.date}
              transitionName={post.data.date.toString()}
            />
          </div>
          <h2 class="text-3xl font-bold mt-1" transition:name={post.data.title}>
            <a
              href={`/posts/${post.slug}`}
              class="hover:text-gray-500 dark:hover:text-gray-300"
            >
              {post.data.title}
            </a>
          </h2>

          <TagsPresenter tags={post.data.tags} />

          <div class="line-clamp-3 text-gray-600 dark:text-gray-300 mt-4">
            {post.data.summary}
          </div>
          <div class="mt-4">
            <a
              href={`/posts/${post.slug}`}
              class="font-bold uppercase hover:text-gray-500 dark:hover:text-gray-300"
            >
              Read More
            </a>
          </div>
        </div>
      ))
    }
  </div>
  {
    page.lastPage !== 1 && (
      <div class="pagination flex justify-between text-base items-center border-t border-gray-200 dark:border-gray-700 pt-8">
        {page.url.prev ? (
          <a
            href={page.url.prev}
            class="hover:text-gray-500 dark:hover:text-gray-300"
          >
            &larr; Prev
          </a>
        ) : (
          <button class="disabled:opacity-50" disabled>
            &larr; Prev
          </button>
        )}
        <div>
          Page {page.currentPage} of {page.lastPage}
        </div>
        {page.url.next ? (
          <a
            href={page.url.next}
            class="hover:text-gray-500 dark:hover:text-gray-300"
          >
            Next &rarr;
          </a>
        ) : (
          <button class="disabled:opacity-50" disabled>
            Next &rarr;
          </button>
        )}
      </div>
    )
  }
</section>
